xml/home_schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Global ComplexType count: 6 types -->
    <xs:element name="homePage" type="homePageType"/>
    <xs:element name="navigationBar" type="navigationBarType"/>
    <xs:element name="dropdown" type="dropdownType"/>
    <xs:element name="paragraphs" type="paragraphsType"/>
    <xs:element name="paragraph" type="paragraphType"/>
    <xs:element name="gallery" type="galleryType"/>
    <!-- 6^ -->
    <xs:element name="bottomNavigationBar" type="bottomNavigationBarType"/>
    <xs:element name="dropdownElement" type="dropdownElementType"/>
    <!-- Local ComplexTypesCount: 4 types √ -->

    
    <!-- Global SimpleType count: 6 types -->
    <xs:element name="dropdownName" type="dropdownNameType"/>
    <xs:element name="dropdownLink" type="dropdownLinkType"/>
    <xs:element name="navElement" type="navElementType"/>
    <xs:element name="intro" type="introType"/>
    <xs:element name="description" type="descriptionType"/>
    <xs:element name="link" type="linkType"/>
    <!-- Local SimpleTypesCount: 4 types -->
    <!-- <xs:element name="introTitle" type="introTitleType"/> -->
    <!-- <xs:element name="bnbTitle" type="bnbTitleType"/> -->
    <!-- <xs:element name="paragraphSubtitle" type="paragraphSubtitleType"/> -->
    <!-- <xs:element name="imageDescription" type="imageDescriptionType"/> -->

    <xs:attribute name="link" type="linkType"/>
        
    <xs:complexType name="homePageType">
        <xs:sequence>
            <xs:element ref="navigationBar"/>
            <xs:element ref="intro"/>
        </xs:sequence>
    </xs:complexType>
        
    <xs:group name="navigationGroup">
        <xs:sequence>
            <xs:element ref="dropdown"/>
            <xs:element ref="navElement"/>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="navigationBarType">
        <xs:group ref="navigationGroup"/>
    </xs:complexType>

    <xs:complexType name="dropdownType">
        <xs:sequence>
            <xs:element ref="dropdownElement"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="dropdownLinkType">
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="24"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="dropdownNameType">
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="24"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="dropdownElementType">
        <xs:sequence>
            <xs:element name="dropdownLink" type="dropdownLinkType"/>
            <xs:element name="dropdownName" type="dropdownNameType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="navElementType">
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="24"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="introType">
        <xs:sequence>
            <xs:element ref="paragraphs"/>
        </xs:sequence>
        <xs:attribute name="title">
            <!-- introTitleType -->
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="3"/>
                    <xs:maxLength value="24"/>
                </xs:restriction>
            </xs:simpleType>        
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="paragraphsType">
        <xs:sequence>
            <xs:element ref="paragraph"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="paragraphType">
        <xs:sequence>
                <xs:element ref="description"/>
        </xs:sequence>
        <xs:attribute name="subtitle">
            <!-- paragraphSubtitleType -->
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="3"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="descriptionType">
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="galleryType">
        <xs:sequence>
            <xs:element name="imageRow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="images">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="image">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element ref="link"/>
                                            </xs:sequence>
                                            <xs:attribute name="description">
                                                <!-- imageDescriptionType -->
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:minLength value="3"/>
                                                        <xs:maxLength value="24"/>
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="linkType">
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="bottomNavigationBarType">
        <xs:sequence>
            <xs:element name="bnbElement">
                <xs:complexType>
                    <xs:attribute name="title">
                        <!-- bnbTitleType -->
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="3"/>
                            </xs:restriction>
                        </xs:simpleType>                    
                    </xs:attribute>
                    <xs:attribute ref="link"/>
                </xs:complexType>
            </xs:element> 
        </xs:sequence>
    </xs:complexType>
</xs:schema>

<!-- Do zrobienia
[X] - co najmniej 6 definicji globalnych typów złożonych (1,6pkt)
[X] - przynajmniej 6 definicji globalnych typów prostych (1,6pkt)
[X] - co najmniej 4 definicje lokalnych typów złożonych (0,8pkt)
[X] - przynajmniej 4 definicje lokalnych typów prostych (0,8pkt)
[] - stosowanie różnych modeli wyboru (sequence, choice, all) i/lub mieszanego typu zawartości (mixed) (0,3pkt)
[X] - przynajmniej jedna definicja grupy (elementów lub atrybutów) (0,2pkt)
[] - istnienie przynajmniej 4 poziomów zagłębienia w strukturze dokumentu xml (0,4pkt) deklaracja przynajmniej 6 atrybutów z czego przynajmniej 1 zdefiniowany globalnie i użyty przynajmniej 2 razy (1,2pkt)
[] - różnorodne deklaracje przynajmniej 12 różnych elementów (0,6pkt), w tym przynajmniej 5 z nich powinno zawierać podelementy(1pkt) (1,6pkt)
[] - stosowanie aspektów (ograniczeń na elementy i atrybuty)
 - length, minLength, maxLength, maxInclusive, minInclusive, maxExclusive, minExclusive, ... (wybrane min 4 różne) (0,4pkt)
 - pattern i enumeration (0,6pkt)
 - wyprowadzanie typów (0,3pkt)
 - extension - rozszerzenie istniejącego typu o dodatkowe elementy
 - przynajmniej 3 odnośniki (ref) do elementów i/lub atrybutów (ma być odniesienie i do
atrybutu i do elementu) (0,6pkt)
 - użycie listy (list)(0,05pkt), należy określić długość listy (liczbę elementów listy) ((0,05pkt)
oraz ograniczyć wartości, jakie mogą wystąpić na liście (0,05pkt), lista musi być również
wykorzystana w pliku XML (0,05pkt) (0,2pkt)
 - wykorzystanie kombinacji (union) oraz użycie elementu tego typu w pliku XML (0,2pkt)
 - wykorzystanie przynajmniej 4 różnych typów wbudowanych (0,2pkt)
 - walidowanie pliku
[] - w pliku XML przynajmniej 3 wypełnione podelementy korzenia
 -->